/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block}
/*footer*/
#footer_ied{height:150px;overflow:hidden;font-size:12px;font-family:'\5b8b\4f53';color:#5b5b5b; background-color: #000000;}
.wrap_ied{width:1000px;height:90px;overflow:hidden;margin:0 auto;padding-top:54px;}
.wrap_ied p{width:1000px;overflow:hidden;text-align:center;margin-bottom:5px;}
.wrap_ied p a{color:#5b5b5b; text-decoration: none;}
/*page*/
body{padding-top:42px;min-width:1000px; font: 12px/150% tahoma,'\5b8b\4f53',sans-serif;}
body{font-family:'\5FAE\8F6F\96C5\9ED1';}
.wrap1,.wrap2{min-width:1000px;}
.wrap1{ background:url('../images/bg_11.jpg') no-repeat 0 0; height:571px;}
.wrap2{ background:url('../images/bg_12.jpg') no-repeat 0 0; height:665px;}
.header{padding:130px 0 0 280px; width:560px;}
.main1{ width:576px; padding-left:280px}
.nav_left{ width: 180px; height:1236px;position:absolute ; top:42px; left:0; padding-top:0px; background:url('../images/nav.jpg') no-repeat;}
.nr{width:180px; height:492px;}
.nr a{ width:180px; display:block;}
.btn1{ height:120px; margin-bottom:25px;}
.btn2{height:69px;}
.nr1{width:180px; margin-bottom: 20px;}
.nr1 a{width:180px; height:46px; display:block;}
.btn{background:url('../images/spriter.png') no-repeat;}
.btn3{background-position: 0 0;}
.btn_3{background-position: 0 -92px;}
.btn4{background-position: -180px 0;}
.btn_4{background-position: -180px -92px;}
.btn5{background-position: -360px 0;}
.btn_5{background-position: -360px -92px;}
.btn6{background-position: 2px -46px;}
.btn_6{background-position: -360px -137px;}
.btn7{background-position: -180px -46px;}
.btn_7{background-position: 0 -183px;}
.btn8{background-position: -360px -46px;}
.btn_8{background-position: 0 -138px;}
.btn9{background-position: -180px -138px;}
.btn_9{background-position: -360px -183px;}
.btn10{background-position: -540px 0;}
.btn_10{background-position: -540px -46px;}
.nr2{height:200px; width:180px;}
.nr2 img{display:block; margin-left:37px;}
.nr2 p{ text-align:center; color:#ffffff; height:30px; line-height:30px;}
.btn_gw{background:url('../images/btn_gw.jpg') no-repeat; width:106px; height:31px; margin-left:37px; display:block;}

/**/
/*.r_gb{ background:url('../images/c_1.png') no-repeat; width:267px; height:192px; float:left;}*/
.imgotop{
    width: 1349px;  height: 40px;  float: left;  background: url("../images/imgotop1.png")no-repeat -2px 0;
    overflow: hidden;  position: absolute;  top: 0;left:0; cursor: pointer }
.r_gb1{width:270px; height:177px; padding:40px 0 15px 267px;}
.s1{background:url('../images/spriter1.png') no-repeat 0 -25px; width: 192px; height:25px;}
.t1{font-size:14px; color:#0c0c0c; border-bottom:1px #6c7878 dashed; padding-bottom:10px; line-height:20px;}
.t2{font-size:14px; color:#000; margin-top:10px;}
.t2 span{font-size:14px; color:#2ebb9d; margin-left:20px;}
.t5{font-size:14px; color:#ffffff; margin-top:10px;}
.s2{background:url('../images/spriter1.png') no-repeat -192px -25px; width: 77px; height: 26px; margin-bottom:10px;}
.t3{font-size:14px; color:#fff; line-height:20px; margin-bottom:40px;}
.r_sp{height:205px;}
.video{width:351px; height:192px; float:left; margin:-5px 15px 0 0;}
.r_sx{background:url('../images/f_2.png') no-repeat; width:210px; height:175px; float:left;}
.r_bottom{height:365px;}
.s3{font-size:32px; font-weight:bold; color:#ffffff; height:40px; line-height:40px;}
.t4{font-size:14px; background:#ffffff; color:#2fc3a3; margin-top:15px; line-height:20px;}
.r_wei{height:147px; margin-top:30px;}
.r_wei a{width:147px; height:147px; display:block; float:left;}
.btn_wq{margin-right:45px; background:url('../images/f_3.jpg') no-repeat;z-index: 6;}
.btn_wq:hover{ background:url('../images/f_3_1.jpg')  no-repeat;z-index: 6;}
.btn_wq1{margin-right:45px; background:url('../images/f_4.jpg') no-repeat;}
.btn_wq1:hover{ background:url('../images/f_4_1.jpg') no-repeat;}
.btn_wq2{ background:url('../images/f_5.jpg') no-repeat;}
.btn_wq2:hover{ background:url('../images/tianxiang.jpg') no-repeat;}

/**/
.dialog{position:relative;}
.dialog:focus{outline:0 none;}
.video1{width:800px; height:450px;}
.dia-close{position:absolute; top:0; right:-30px; width:30px; height:30px; text-align:center; line-height:30px; font-size:30px; text-decoration:none;background:#000;color:#fff;}
/*.imgot1{position: absolute;top:0;left:0;}*/
.imgot2_2{  width: 100%;   position: absolute;   bottom: -6px;  overflow: hidden;  }
.imgot2{
    width: 1350px;
    height: 558px;bottom: -5px;
    position: absolute;
    z-index: 4;
}
.imgot2 span{  position: absolute; z-index: 9; top:30px;  right: 25px;  width: 140px;  height: 140px;  cursor:pointer;  }
.otbottom{ background: url("../images/imgotbot.png") ;  width: 100% ;  height: 143px;  float: left;  position: relative;  bottom: 0; margin: 0 auto; }



.nodeSmall1 {
    width: 106px;
    height: 106px;
    background: url(../images/imgot_ewm.jpg) no-repeat ;
    position: absolute;
    float: left;
    z-index: 100;
    left: 40px;
    top: 77%;
    cursor: pointer;  }
.erweima {position: absolute;  top: -214px;  left: 80px;  }
.hide {display: none;} .show {display: block;}


















